.heroImg{
    width: 100%;
}

@media (max-width: 992px) {
    .heroImg{
        width: 160%;
    }
}

@media (max-width: 500px) {
    .heroImg{
        width: 125%;
    }
    button{
        width: 100%;
    }
}

@media (max-width: 400px) {
    .heroImg{
        width: 125%;
    }
    button{
        width: 100%;
    }
}
